
# Executable
mapTests

# Jetbrains Stuff
.idea/*

# CMake / Google Tests Stuff
cmake-build-debug
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
googletest-build
googletest-download
googletest-src
lib